/* contains reusable variables */
:root {
 --body-font: 'Roboto Mono';
 --body-style: normal;
 --body-weight: 700;
 --body-size: 18px;
 --body-line-height: 24px;
 --body-letter-spacing: 0.02em;
 --body-color: #000000;
}


html,
body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
             font-family: 'Source Code Pro', monospace;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 margin-left: 0;
 height: 100%;
 width: 100%;
}

