
.footer-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.footer-area-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.footer-area-image img{
    width: 100%;
    opacity: 0.7;
    height: auto;
}

.footer-area-bottom{
    position: absolute;
    z-index: 2;
    width:100%;
    height: 30%;
    white-space: pre-wrap;
    background-color: rgba(255, 255, 255, 0.8);
}

.footer-area-bottom p{
    text-align: center;
    font-size: 25px;
    line-height: 3.5rem;
}

.footer-link {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.05rem;
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* add some space for the line */
  }
  
  .footer-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* line height */
    background-color: black;
    transition: width 0.2s ease-in; /* animate the width change */
  }
  
  .footer-link:hover::after {
    width: 100%; /* increase the width to cover the text */
  }
  

  @media (max-width: 1100px) {
    .footer-area-bottom{
        height: 20%;
    }
    .footer-area-bottom p{
        font-size: 15px;
        line-height: 2rem;
    }
    .footer-link {   
        font-weight: 700;
        font-size: 15px;
        line-height: 2rem;
        letter-spacing: 0.03rem;
    }
}

@media (max-width: 746px) {
    .footer-area-bottom{
        height: fit-content;
    }
    .footer-area-bottom p{
        font-size: 12px;
        line-height: 1.5rem;
    }
    .footer-link {   
        font-weight: 700;
        font-size: 15px;
        line-height: 2rem;
        letter-spacing: 0.03rem;
    }
}
